<!DOCTYPE html>
<html>
<head>
	<title>MiMo Client</title>
	<style type="text/css">
		body {
		  margin: 0;
		  padding: 0;
		}
		#maze {
		  background: #000;
		  width: 640px;
		  height: 480px;
		  display: block;
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		}

		.off {
		  
		}
		.on {
		  border: none;
		  color: #fff;
		}
		label {
		  font-size: 24px;
		  font-weight: 800;
		}
		.hide {
		  visibility: hidden;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<section class="content">
			<h3>Connecting...</h2>
			<div class='data'></div>
		</section>
		<section class="game">
			<canvas id="maze" width="320" height="240"></canvas>

			<button id="red" class="off" style="background: #ff3366">red</button>
			<button id="green" class="off" style="background: #66ff33">green</button>
			<button id="blue" class="off" style="background: #3366ff">blue</button>

			<label id="win" class="hide">M detected! WIN</label>
		</section>		
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='comm.js') }}"></script>
</body>
</html>