<html>
<head>
	<title>GPIO</title>
</head>
<body>
	<div class="wrapper">
  	<section class="slider">

  	</section>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script>
	<script type="text/javascript">
		var socket = io.connect('http://' + document.domain + ':' + location.port);
		
		socket.on( 'connect', function() {
		  socket.emit( 'connect2pi', {
		    data: 'Table UI connected.'
		  });
		});

		socket.on( 'connect2pi', function(msg) {
		  console.log(msg);
		});

		socket.on('gpio', function(data) {
		  console.log('Read from GPIO: ' + data.action);
		  
		});
	</script>
</body>
</html>
